// Extends Layout
extends ../layouts/main.jade

// Main Area Content Block 
block content
  div.container-fluid#user-dashboard
    div.row
      div.col-md-1#dashboard-navigation
        nav
          ul
            li.active
              a(href="#")
                i.fa.fa-users
            li
              a(href="/properties/update")
                i.fa.fa-building-o
      div.col-md-10.col-md-offset-1#update-user
        form(action="/api/users/" + user._id)#update-user-form
          div.update-profile-pic
            div.col-md-3
              div.profile-pic
                img(src=user.profilePicture)
              input#photo-input(type="file",name="profilePicture")
            div.col-md-8
            
              if message
                div.alert.alert-danger
                  ul
                    li= message
              else
                div.alert.alert-danger(style="display:none;")
                  ul
              div.form-group
                label(for="user-name") Nombre y Apellido
                input.form-control#user-name(type="text",name="name",placeholder=user.name)
              div.form-group
                label(for="user-email") Correo
                input.form-control#user-email(type="text",name="email",placeholder=user.email)
              div.form-group
                label(for="user-password") Contraseña
                input.form-control#user-password(type="password",name="password")
              div.form-group
                label(for="user-description") Descripcion
                textarea.form-control#user-description(name="description",placeholder=user.description)
              div.form-group
                label(for="ap-country") Pais
                select.form-control#ap-country(name="country")
                  each country in countries
                    if country.code == user.country
                      option(value=country.code, selected="selected")= country.name
                    else
                      option(value=country.code)= country.name
              div.form-group(style="text-align: right")
                a.btn.btn-primary#btn-update
                  i.fa.fa-user
                  span Actualizar

// page-specific styles
block head
  link(rel="stylesheet", href="/css/update-user.css")

block postlibraries
  script.
    var user = !{JSON.stringify(user)};
    require(['/js/app/apps/update-user.js'],function(updatePage){
      console.log(user);
      updatePage.start(user);
    });
  